{% extends "base.html" %}

{% block content %}
<div class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans">
    <div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">
        <div class="mb-4">
            <h1 class="text-grey-darkest">Goals List</h1>
        </div>
        <form
                hx-post="add-goal/"
                hx-target="#goals"
                hx-swap="afterend"
        >
            <div class="flex mt-4">
                <input class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-darker"
                       placeholder="Add New Goal"
                       name="title">
                <button class="py-2 px-3 bg-indigo-500 text-white text-sm font-semibold rounded-md shadow focus:outline-none">
                    Add
                </button>
            </div>
        </form>
        <ul id="goals">
            {% for goal in goals %}
                {% include 'goal/partials/goal.html' %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}